@model IEnumerable<PersonResponse> 
@{
    ViewBag.Title = "Persons";
}

<p>Persons</p>    
<table class="table">
    <thead>
        <tr>
            <th>Person Name</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Address</th>
            <th>Receive News Letters</th>
        </tr>
    </thead>
    <tbody>
        @foreach(PersonResponse person in Model){
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.Country</td>
                <td>@person.Address</td>
                <td>@person.ReceiveNewsLetters</td>
            </tr>
        }
    </tbody>
</table>